@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView Roles="Admin">
    <h3>Eres admin</h3>
</AuthorizeView>
<AuthorizeView Roles="User">
    <h3>Eres User</h3>
</AuthorizeView>

<AuthorizeView Roles="Empleado">
    <h3>Eres Empleado</h3>
</AuthorizeView>
