
.navbar-brand {
    width: 200px;
}

/*
.custom-dropdown {
    border: none;
    box-shadow: none;
    padding: 0.5rem 1rem;

}*/


.navbar {
    background-color: #012E40;
}

.login-button {
    background-color: #7e1616;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

    .login-button:hover {
        cursor: pointer;
        background-color: #5a0c0c;
    }

/*.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

    .navbar-toggler:focus, .btn-close:focus {
        box-shadow: none;
        outline: none;
    }*/

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

    .nav-link:hover {
        color: #000;
    }


    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: white;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
