@page "/EditAlguacil/{AlguacilId:int}"

@rendermode InteractiveServer
@inject NotificationService notificationService
@inject AlguacilServices alguacilService
@attribute [StreamRendering]

<RadzenNotification />

<EditForm Model="Alguacil" OnValidSubmit="Editar">
    <DataAnnotationsValidator />



    <div class="container-fluid">
        <div class="card shadow-lg w-75 mx-auto mt-5">
            <div class="card-header bg-primary text-white">
                <h3 class="text-center">Editar Alguacil</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold" for="Nombre">Nombre:</label>
                            <InputText @bind-Value="Alguacil.Nombre" class="form-control" />
                            <ValidationMessage For="@(()=>Alguacil.Nombre)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold" for="Apellido">Apellido:</label>
                            <InputText @bind-Value="Alguacil.Apellido" class="form-control" />
                            <ValidationMessage For="@(()=>Alguacil.Apellido)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold" for="FechaCreacion">Fecha Creación:</label>
                            <InputDate @bind-Value="Alguacil.FechaCreacion" class="form-control" readonly />
                            <ValidationMessage For="@(()=>Alguacil.FechaCreacion)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <a href="IndexAudiencia" class="btn btn-secondary me-2">Atrás</a>
                    <button type="submit" class="btn btn-success">Editar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>



@code {

    [Parameter]
    public int AlguacilId { get;set; }
    public Alguaciles Alguacil { get; set; } = new Alguaciles();


    protected override async Task OnInitializedAsync()
    {
        Alguacil = await alguacilService.GetAlguacil(AlguacilId);

    }

    public async Task Editar()
    {
        var guardado = await alguacilService.Edit(Alguacil);
        if (!guardado)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "No se ha Editado correctamente",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
        }
        else
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Éxito",
                    Detail = "Se ha Editado correctamente",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
            Alguacil = new Alguaciles();
        }

    }
}
